[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "==6.0.1"
psycopg2-binary = "==2.9.9"
django-model-utils = "==4.4.0"
wagtailsvg = "==0.0.37"

[dev-packages]

[requires]
python_version = "3.11"
