<!-- templates/blog/elements/tpl_card.html -->
{% load static wagtailcore_tags wagtailimages_tags %}
<div>
    <div class="uk-card uk-card-default uk-card-small">
        <div class="uk-card-media-top">
            {% image post.image fill-600x400 %}
        </div>
        <div class="uk-card-body">
            <h4 class="uk-card-title">{{ post.title }}</h4>
            {{ post.description|truncatechars:100 }}
        </div>
        <div class="uk-card-footer">
            <a class="uk-button uk-button-default uk-width-1-1" href="{% pageurl post %}">
                Read more
            </a>
        </div>
    </div>
</div>
<!-- templates/blog/elements/tpl_card.html -->
