{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="uk-container uk-container-large uk-margin-top uk-margin-large-bottom">
		<nav class="nav-scroll">
			<ul class="uk-subnav uk-flex uk-flex-center uk-flex-nowrap">
				<li {% if self.slug == blog_home.slug %}class="uk-active"{% endif %}>
                    <a href="{% pageurl blog_home %}">All</a>
                </li>
                {% for category in categories %}
				<li {% if self.slug == category.slug %}class="uk-active"{% endif %}>
                    <a href="{% pageurl category %}">{{ category.title }}</a>
                </li>
                {% endfor %}
			</ul>
		</nav>

        <div class="uk-child-width-1-3@l uk-child-width-1-2@m" uk-grid uk-height-match="target: > div > div > .uk-card-body">
            {% for post in posts %}
                {% include 'elements/tpl_card.html' with post=post %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
